body{
    background-image: url(images.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    border: 2px solid gray;
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px;
    border-radius: 50%;
    border: none;
    
}
 .b1{
    background-image: conic-gradient(red,yellow,green);
 }

 .b2{
    background-image: conic-gradient(from 45deg,red,yellow,green);
 }

 .b3{
    background-image: conic-gradient(red,yellow,green,red);
 }


 .b4{
    background-image: conic-gradient(at 40% 50%,red 180deg,yellow 270deg,green);
 }

 .b5{
    background-image: repeating-conic-gradient(red 0deg,red 10deg,yellow 20deg,yellow 40deg);
 }

 .b6{
    background-image: repeating-conic-gradient(rgba(0,0,0,0)0deg,rgba(0,0,0,0)20deg,rgba(0,0,0,.5)20deg,rgba(0,0,0,.5)30deg);
    background-color: aquamarine;
    /* trans */
 }


 .b7{
    background-image: repeating-conic-gradient(yellow 0deg,yellow 90deg,black 90deg,black 180deg);
    background-size: 20px 20px;
 }

 .b8{
    background-image: conic-gradient(red 0deg,red 90deg,
    blue 90deg,blue 180deg,
    green 180deg ,green 270deg,
    yellow 270deg,yellow 360deg);
     
 }
